#line {
  margin: 0;
  height: 8rem;
  background-color: #00437a;
}
form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 80vh;
  background-color: white;
  border-radius: 5%;
  margin-top: -8%;
}
.form h5 {
  margin: 1%;
  color: #00437a;
}
#login_logo {
  height: 6em;
  margin-top: 2%;
}
form input {
  width: 75%;
  height: 3.5em;
  margin: 1.5%;
  background-color: white;
  padding-left: 2%;
  font-size: 16px;
}
form button {
  width: 35%;
  height: 3.5em;
  margin: 1.5%;
  background-color: #00437a;
  border: none;
  color: white;
  font-size: 16px;
}
